@using MvcCv.Models.Entity
@model List<TblHobilerim>

<div class="resume-section-content">
    @foreach (var x in Model)
    {
    <h2 class="mb-5">Interests</h2>
    <p>@x.Aciklama1</p>
    <p class="mb-0">@x.Aciklama2</p>
    }
</div>
