

@using MvcCv.Models.Entity
@model List<TblSosyalMedya>

<div class="social-icons">
   
    <a class="social-icon" href="https://www.linkedin.com/in/yilmazzugurcan/"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" href="https://github.com/yilmazzugurcan"><i class="fab fa-github"></i></a>
    <a class="social-icon" href="https://twitter.com/Ghcdghkxi"><i class="fab fa-twitter"></i></a>

</div>
