@model MvcCv.Models.Entity.TblSertifikalarım
@{
    ViewBag.Title = "YeniSertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="flex-direction: column; margin-left:20px;">
    <div>
        <h4>Sertifika Ekleme Sayfası</h4>
    </div>
    <div>
        <form method="post">

            @Html.Label("Sertifika Açıklaması")
            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control", @style = "width:stretch" })
            <br />
            @Html.Label("Tarih")
            @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
            <br />

            <button class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>
